In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
raw_train = train.copy()
raw_test = test.copy()

In [18]:
train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [27]:
train['keyword'].value_counts()

fatalities               45
deluge                   42
armageddon               42
sinking                  41
body%20bags              41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [30]:
train['location'].value_counts()

USA                             104
New York                         71
United States                    50
London                           45
Canada                           29
                               ...
Cape Town, Khayelitsha            1
Edmonton, Alberta - Treaty 6      1
St. Catharines, Ontario           1
Sugarhouse, UT                    1
a botanical garden probably       1
Name: location, Length: 3341, dtype: int64

In [36]:
list(train[train['id']==49]['text'])

['We always try to bring the heavy. #metal #RT http://t.co/YAo1e0xngw']

In [37]:
train[train['id']==49][['keyword','location']]

   keyword                       location
32  ablaze  Est. September 2012 - Bristol

In [58]:
word_len =  train[train['target']==1]['text'].str.split().map(lambda word_list : [ len(word) for word in word_list])
word_len

0                [3, 5, 3, 3, 6, 2, 4, 11, 3, 5, 7, 2, 3]
1                                   [6, 4, 4, 2, 5, 5, 6]
2       [3, 9, 5, 2, 8, 2, 6, 3, 5, 8, 2, 9, 2, 5, 10,...
3                             [6, 6, 7, 10, 10, 6, 2, 10]
4       [4, 3, 4, 4, 5, 4, 4, 7, 2, 5, 4, 10, 5, 4, 1, 6]
                              ...
7608                   [3, 5, 6, 7, 1, 6, 8, 4, 6, 5, 22]
7609    [12, 12, 3, 3, 2, 7, 4, 5, 2, 10, 4, 2, 3, 8, ...
7610                            [5, 6, 8, 1, 2, 7, 7, 22]
7611    [6, 13, 5, 2, 6, 8, 4, 1, 3, 2, 6, 9, 6, 5, 8,...
7612            [3, 7, 4, 5, 5, 2, 8, 10, 8, 1, 3, 4, 22]
Name: text, Length: 3271, dtype: object

In [65]:
np.mean( word_len[0] )

4.384615384615385

In [71]:
train[train['target']==1]['text'].str.split()

0       [Our, Deeds, are, the, Reason, of, this, #eart...
1          [Forest, fire, near, La, Ronge, Sask., Canada]
2       [All, residents, asked, to, 'shelter, in, plac...
3       [13,000, people, receive, #wildfires, evacuati...
4       [Just, got, sent, this, photo, from, Ruby, #Al...
                              ...
7608    [Two, giant, cranes, holding, a, bridge, colla...
7609    [@aria_ahrary, @TheTawniest, The, out, of, con...
7610    [M1.94, [01:04, UTC]?5km, S, of, Volcano, Hawa...
7611    [Police, investigating, after, an, e-bike, col...
7612    [The, Latest:, More, Homes, Razed, by, Norther...
Name: text, Length: 3271, dtype: object

In [69]:
for word in train[train['id']==48]['text'].str.split():
    print(word)

['@bbcmtd', 'Wholesale', 'Markets', 'ablaze', 'http://t.co/lHYXEOHY6C']

In [72]:
from sklearn import feature_extraction

In [73]:
count_vector = feature_extraction.text.CountVectorizer()

In [74]:
train['text'][0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

In [82]:
count_vector.fit_transform(train['text'][0:5])[0].todense().shape

(1, 54)