In [1]:
import pandas as pd
import numpy as np

from sklearn import feature_extraction, model_selection, linear_model, preprocessing

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [6]:
count_vector = feature_extraction.text.CountVectorizer()

train_cv = count_vector.fit_transform(train['text'])

In [7]:
test_cv = count_vector.transform(test['text'])

In [8]:
clf = linear_model.RidgeClassifier()

In [11]:
scores = model_selection.cross_val_score(clf,train_cv,train['target'],cv=3,scoring='f1')

In [12]:
scores

array([0.59453669, 0.56455572, 0.64113893])

In [13]:
clf.fit(train_cv,train['target'])
y_preds = clf.predict(test_cv)
y_preds

array([0, 1, 1, ..., 1, 1, 0], dtype=int64)

In [15]:
submission = pd.read_csv('sample_submission.csv')
submission.iloc[:,1] = y_preds
submission

         id  target
0         0       0
1         2       1
2         3       1
3         9       0
4        11       1
...     ...     ...
3258  10861       1
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       0

[3263 rows x 2 columns]

In [17]:
submission.to_csv('submission.csv',index=False)

In [47]:
vc = train['text'].value_counts()
text = vc[vc>2].index[3]

In [48]:
train[train['text']==text]

,id,keyword,location,text,target
3240,4656,engulfed,NaN,He came to a land which was engulfed in tribal...,0
3243,4659,engulfed,Kuwait,He came to a land which was engulfed in tribal...,1
3248,4669,engulfed,Bahrain,He came to a land which was engulfed in tribal...,1
3251,4672,engulfed,NaN,He came to a land which was engulfed in tribal...,0
3261,4684,engulfed,NaN,He came to a land which was engulfed in tribal...,0
3266,4691,engulfed,NaN,He came to a land which was engulfed in tribal...,0